<div id="animal-form-section" class="card shadow-sm">
    <div class="card-header bg-secondary text-white">
        <h4>Cadastro de Animais</h4>
    </div>
    {{!-- Campos dinâmicos para animal (tipo, gato ou cachorro) --}}
    {{{formularioAnimal}}}
    <button id="submit-animal" class="btn btn-primary w-100">Cadastrar Animal</button>
</div>
